<!doctype html>
<html>
<head>
    <title>Home page</title>
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<body>
    <div class="box">
        <h1>Youtube downloader</h1>
        <form action="{{ url_for('handle_download') }}" method="post">
            <input type="text" id="url" name="url" placeholder="https://www.youtube.com/..." autocomplete="off" required>
            <input type="submit" id="download" name="submit" value="Download"><br>
            <div class="container">
                <div class="grid-container">
                    Video only:<br>
                    <input type="radio" name="video" value="yes">Yes<br>
                    <input type="radio" name="video" value="no" checked>No<br>
                </div>
                <div class="grid-container">
                    Audio only:<br>
                    <input type="radio" name="audio" value="yes">Yes<br>
                    <input type="radio" name="audio" value="no" checked>No<br>
                </div>
            </div>
        </form>
    </div>
</body>
</html>