body{
  background-color: powderblue;
}

.box{
  background-color: whitesmoke;
  margin: auto;
  padding: 5px;
  width: 80%;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  border: 2px solid #ccc;
  text-align: center;
}

#url[type=text] {
  background-color: white;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px;
}

input[type=text] {
  background-color: white;
  width: 25%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-repeat: no-repeat;
}

#download[type=submit] {
  display: inline-block;
  width: 10%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: None;
  border-radius: 4px;
  cursor: pointer;
}

input[type=radio]{
  cursor: pointer;
}

.container{
  display: grid;
  width: 60%;
  margin: auto;
  grid-template-columns: auto auto auto;
}

.grid-container{
  text-align: left;
}