h1 {
    background-color: #FFFFFF;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;

}
body {
    background-color: powderblue;
    text-align: center;
  }
input[type=text] {
    background-color: white;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px;
  }

input[type=submit] {
    width: 25%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: None;
    border-radius: 4px;
    cursor: pointer;
  }
